/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #e0eafc; /* Background color for the entire page */
    padding: 20px;
    margin: 0; /* Remove default margin */
}


h1 {
    color: #fff;
    background-color: #107C41; /* Header background color */
    padding: 20px;
    margin: 0; /* Remove default margin */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}


.container {
    display: flex;
    justify-content: space-between; /* Space out the containers */
    background-color: #fff; /* Container background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    padding: 20px;
    margin: 20px;
}

/* Left Side Styles */
.left-half {
    flex: 1;
    padding: 20px;
}

.form-field {
    margin-bottom: 15px; /* Add more spacing between form fields */
}


.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-field {
    padding: 10px;
}

/* Right Side Styles */
.right-half {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Image List Styles */
ul.sortable-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.sortable-list .image-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: calc(20% - 20px);
    max-height: 200px;
    box-sizing: border-box;
}

/* Set a fixed size for images within .image-item */
ul.sortable-list .image-item img {
    width: 100%;
    height: 100%; /* Set both width and height to 100% to make all images the same size */
    object-fit: cover; /* Maintain the aspect ratio and cover the container */
    border-radius: 8px; /* Apply rounded corners */
}


/* Button Styles */
button {
    padding: 10px 20px;
    background-color: #ffcc33;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF5733;
}

/* Modern Styling for Specific Elements */
#saveButton {
    background-color: #4CAF50;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#saveButton:hover {
    background-color: #107C41;
}

/* Additional CSS for Remove All Button */
#checkAllButton {
    background-color: #1e90ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

#checkAllButton:hover {
    background-color: #4169e1;
}

.custom-input {
    width: 100%;
  }


ul.sortable-list .image-item button {
    background-color: #fa8072; /* Modern red color */
    color: #FFF; /* White text color */
    border: none; /* Remove button border */
    padding: 5px 10px; /* Add padding to the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px; /* Add rounded corners */
}

/* Additional styles for button hover effect */
ul.sortable-list .image-item button:hover {
    background-color: #D63022; /* Darker red on hover */
}

hr {
    border: none;
    border-top: 1px solid #999; /* Customize the line color and style */
    margin: 10px 0; /* Adjust the margin as needed */
}
.summary-section {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    justify-content: space-between; /* Space out the containers */
    padding: 20px;
    margin: 20px;
    background-color: #fff; /* Container background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Add margin to separate items vertically */
    background-color: #fff; /* Container background color */
    /*background-color: #d0f0c0; /* Container background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    padding: 5px;
    border: 1px solid #D5D8DC;
  }

  .summary-row:hover {
    background-color: #e8f4f8; /* Container background color */
  }
  
  .summary-checkbox {
    margin-right: 10px; /* Add margin to separate checkbox from summary-item */
    cursor: pointer;
  }
  
  .summary-item {
    cursor: pointer;
     /*text-decoration: underline;*/
    padding: 0;
    margin: 0;
  }
  
  
  .add-button {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px; /* Adjust padding for button size */
    border: 1px solid #007bff; /* Add a border with a blue color */
    border-radius: 5px; /* Add rounded corners */
    background-color: #007bff; /* Set a background color */
    color: #fff; /* Set text color to white */
    margin-right: 5px;
    display: inline-block;
  }
  
  .add-button:hover {
    background-color: #0056b3; /* Change background color on hover */
    border: 1px solid #0056b3; /* Change border color on hover */
  }

  #drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  #drop-zone.hover {
    border: 2px dashed #007bff;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.upload-container {
    max-width: 650px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px auto;
    
    
  }
  .drag-area {
    width: 100%;
    height: 300px;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
  }
  h3 {
    margin-bottom: 20px;
    font-weight: 500;
  }
  .drag-area .icon {
    font-size: 50px;
    color: #4CAF50;
  }
  .drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
  }
  .drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
  }
  .drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #4CAF50;
    cursor: pointer;
  }
  .drag-area.active {
    border: 2px solid #1683ff;
  }
  .drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Style the toggle switch */
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
  }
  
  .toggle input {
    display: none;
  }
  
  /* The slider (round part) */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Rounded sliders when checked */
  .toggle input:checked + .slider {
    background-color: #4caf50;
  }
  
  .toggle input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Style the container */
  .toggle-container {
    display: flex;
    align-items: center;
  }
  
  /* Style the status text */
  #status {
    margin-left: 10px;
    font-weight: bold;
  }
  